extends layout

block content
  .row
    br
    br
    .span12
      br
      br
      h1 Now In NOLA
      br
      hr
  .row
    .span6.offset4
      p NowINOLA is a Twitter companion site for New Orleans residents and visitors. You can see what's happening and what's trending from the scrolling list of hashtags. Popular and trending hashtags show you what people are talking about right now and provide relevant Twitter data and info on New Orleans events. Use the the hashtags to find out what's going on in town, find statistics on powerful tags for New Orleans social media, or tag your own tweets about New Orleans.
      br
      p NowINOLA was developed as an entry in a design/development challenge at&nbsp;
        a(href="http://barcampnola.com", target="_blank") New Orleans Barcamp  2013.
