extends layout
block content
  .central-wrapper
    .most-recent
      - var mainTag = '#foo-bar'
      include most-recent
    .leaders
      - var stats = {}
      include leaders
  #tweets-wrapper
    i.icon-arrow-left.icon-black
    .tweets
      h4 latest tweets
      hr
      #socket-stream
