extends layout
block content
  .central-wrapper
    .span9.most-recent
      - var mainTag = '#foo-bar'
      include most-recent
    .span4.leaders
      include leaders
  #tweets-wrapper
    i.icon-arrow-left.icon-white
    .tweets
      h4 latest tweets
      hr
      #socket-stream
