doctype 5
html
  head
    title Barcamp6
    !=css('client')
  body
    .nav.nav-fixed-top
      ul
        a.brand(href='/') Home
        a.brand(href='/about') About
        a.brand(href='http://nowinnola.blogspot.com/', target="_blank") Blog
    #main.collapsed
      block content
  != jadeTemplates()        
  !=js('client')
