doctype 5
html
  head
    title new to new orleans
    !=css('client')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/socket.io.js')
    script(type='text/javascript', src='/js/client.js')
      meta(name="keywords", content="social media new orleans, what's trending, what's happening, twitter, data")
  body
    .nav.nav-fixed-top
      ul
        a.brand(href='/')
          img.logo(src='img/logo-small.png')
        a.brand(href='/about') About
        a.brand(href='http://nowinnola.blogspot.com/', target="_blank") Blog
    #main.collapsed
      block content
  != jadeTemplates()        
