!!! 5
html
  head
    title Barcamp6
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(src='/socket.io/socket.io.js')
  body
    header
      if user
        a(href='/') Home
        a(href='/account') Account
        a(href='/logout') Log Out
      else
        a(href='/') Home
        a(href='/login') Log In

